html, body {
  background: #2980B9;
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  font-family: fantasy;
  margin: 0; border: 0; box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
}

ul:after {
  content: "";
  display: block;
  clear: both;
}

button {
  background-color: salmon;
  color: white;
  padding: 10px 50px;
  margin: 0 auto;
  display: block;
}

h2 {
  text-align: center;
}